body {
    background-color: #55d6aa;
    margin: 0px;
    padding: 0px;

}

h3 {
    margin: 0px;
    padding: 0px;
    color: #000000da;
}
h2 {
    margin: 0px;
    padding: 0px;
    color: #000000da;

}

header {
    background-color: yellow;
    margin: 0px;
    padding: 0px;
    display: grid;
    place-items: center;
   

}

footer {
    display: grid;
    place-items: center;
}

.Button1 {
    background-color: rgb(19, 221, 103);
    border: none;
    font-size: 2rem;

}

.Button1:hover{
    background-color: rgb(0, 168, 65);
}
.Button1:hover::after{
    color: #000000;
}
main{
    margin: 0;
    padding: 0  ;
}
.marginleft {
    margin: 1rem;
}
hr{
    
     border-style: dotted none none;
width: 5%;     
height: 0;
border-color: grey;
border-width: 10px;
}
.centeralizediv{
    display: grid;
    place-items:center ;
}
.removespacediv{
    margin: 0px;
    padding: 0px;
}
